<ion-header>
  <ion-toolbar color="primary appColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Techonologies</ion-title>

    <ion-avatar slot="end" size="small">
      <img src="../../../assets/images/mohan.jpg">
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>

    <ion-card>
        <ion-item>
          <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
          <ion-label class="cardHead">Languages	</ion-label>
        </ion-item>  
        <ion-card-content>
          <p class="cardContent">Java 1.9, Java Script ES6, HTML5, CSS3, JQuery,Ajax</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
          <ion-label class="cardHead">Java Technologies</ion-label>
        </ion-item>  
        <ion-card-content>
          <p class="cardContent">Java 9, J2EE, JDBC, EJB, JMS, Spring FrameWork, Spring MVC, Spring Boot, Restful Web Services</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
          <ion-label class="cardHead">Web Technologies</ion-label>
        </ion-item>  
        <ion-card-content>
          <p class="cardContent">Angular 8, Node, Java Script Ionic FrameWork</p>
        </ion-card-content>
      </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
      <ion-label class="cardHead">Operating System	</ion-label>
    </ion-item>

    <ion-card-content>
      <p class="cardContent" > TWindows XP, Windows Vista, Windows 7,Windows 8, Windows 10</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
      <ion-label class="cardHead">Programming Languages</ion-label>
    </ion-item>

    <ion-card-content>
      <p class="cardContent" > Java,J2ee,Angular 7, React JS, Ejb,Hibernate, Spring Mvc,Struts 2.0,Web Service,Java Script,Jquery, Asp Net,SSIS,SSRS, Unix Shell Programming
      </p></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
      <ion-label class="cardHead" >Databases/Servers & Tools</ion-label>
    </ion-item>

    <ion-card-content>
      <p class="cardContent">,Sql Server 2016,Putty,Ibm Rational Application Server, Jboss Application Server, Tomcat Application Server, Web Sphere 9.0
      </p> </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
      <ion-label class="cardHead" >Other </ion-label>
    </ion-item>

    <ion-card-content>
      <p class="cardContent" >SSRS(to develop ID cards)
      </p></ion-card-content>
  </ion-card>


</ion-grid>
</ion-content>