 ion-icon {
    cursor: pointer;
//   color: #ecf542;
  }
  
  ion-card:hover {
    transform: scale(1.025);
//     background: #303030;
//     border-bottom: 1px solid rgba(19,207,182,.77);
//     border-right: 1px solid rgba(19,207,182,.77);
//     border-color: rgba(19,207,182,.77);
//     border-style: solid;
//     border-width: 1px 5px 5px 1px;
// }
}

